html, body { margin: 0; height: 100%; background: #07040a; overflow: hidden; touch-action: none; -webkit-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; }
body { background: radial-gradient(ellipse at 50% 60%, #1c0e14 0%, #07040a 70%); }
#lienzo { position: absolute; image-rendering: pixelated; image-rendering: crisp-edges; touch-action: none; outline: none; }

